.contactbar {
    background-color: rgba(226, 239, 243, 0.863);
    padding: 10px 20px;
}

.contactbar .h2{
    color: rgb(20, 93, 160);
    padding: 10px;

}


@media screen and (max-width: 390px) {
    .contactbar .h2{
        margin: 10px 0;
        padding: 10px 0;
    
    }
    .contactInfo{
        align-items: flex-start;
    }
    
}